

<div class="row">
    <div class="col-6">
        <app-dona title="{{'SALES' | translate}}" [labels]="labels1" [data]="data1"></app-dona>
    </div>
    <div class="col-6">
        <app-dona  title="{{'SHOPPING' | translate}}"  [labels]="labels2" [data]="data2">
        </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona title="{{'CHANGES' | translate}}"  [labels]="labels3" [data]="data3"></app-dona>
    </div>
    <div class="col-6">
        <app-dona  title="{{'MORE' | translate}}"  [labels]="labels4" [data]="data4"></app-dona>
    </div>
</div>