<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <b>
          <img [src]="env.assets+'/images/LOGOKARDEXB.jpg'" style="width: 86%;
          height: auto;
          margin-bottom: -11px;" alt="homepage" class="dark-logo" />
          <img [src]="env.assets+'/images/logoKardex.jpg'" style="width: 86%;
        height: auto;
        margin-bottom: -11px;" alt="homepage" class="light-logo" />
        </b>
      </a>
    </div>
    <div class="navbar-collapse">
      <!-- <ul class="navbar-nav mr-auto">
        
        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
            href="javascript:void(0)"><i class="mdi mdi-menu" style="font-size: 30px;"></i></a> </li>
        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
            href="javascript:void(0)"><i class="mdi mdi-menu" style="font-size: 30px;"></i></a> </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul> -->
      <ul class="navbar-nav mr-auto">
        <!-- This is  -->
        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
            href="javascript:void(0)"><i class="mdi mdi-menu" style="font-size: 30px;"></i></a> </li>
        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
            href="javascript:void(0)"><i class="mdi mdi-menu" style="font-size: 30px;"></i></a> </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark"
            href="javascript:void(0)"><i class="mdi mdi-search"></i></a>
          <form class="app-search">
            <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i
                class="mdi mdi-close"></i></a> </form>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right mailbox animated fadeIn fast">
            <ul>
              <li>
                <div class="drop-title">Notifications</div>
              </li>
              <li>
                <div class="message-center">
                  <!-- Message -->
                  <!-- <a href="#">
                    <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                    <div class="mail-contnet">
                      <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new
                        admin!</span> <span class="time">9:30 AM</span>
                    </div>
                  </a> -->
                  <!-- Message -->
                  <!-- <a href="#">
                    <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                    <div class="mail-contnet">
                      <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have
                        event</span> <span class="time">9:10 AM</span>
                    </div>
                  </a> -->
                  <!-- Message -->
                  <!-- <a href="#">
                    <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                    <div class="mail-contnet">
                      <h5>Settings</h5> <span class="mail-desc">You can customize this template as
                        you want</span>
                      <span class="time">9:08 AM</span>
                    </div>
                  </a> -->
                  <!-- Message -->
                  <!-- <a href="#">
                    <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                    <div class="mail-contnet">
                      <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span>
                      <span class="time">9:02 AM</span>
                    </div>
                  </a> -->
                </div>
              </li>
              <li>
                <a class="nav-link text-center" href="javascript:void(0);"> <strong>No Notifications</strong>
                  <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
          </a>
          <div class="dropdown-menu mailbox dropdown-menu-right animated fadeIn fast" aria-labelledby="2">
            <ul>
              <li>
                <div class="drop-title">Messages</div>
              </li>
              <li>
                <div class="message-center">
                  <!-- Message -->
                  <!-- <a href="#">
                    <div class="user-img"> <img src="./assets/images/users/1.jpg" alt="user" class="img-circle">
                      <span class="profile-status online pull-right"></span> </div>
                    <div class="mail-contnet">
                      <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span>
                      <span class="time">9:30 AM</span>
                    </div>
                  </a> -->
                </div>
              </li>
              <li>
                <a class="nav-link text-center" href="javascript:void(0);"> <strong>No Message</strong> <i
                    class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-language"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right animated fadeIn fast">
            <a class="dropdown-item" (click)="cambiarIdioma('es')">
              <i class="flag-icon flag-icon-es"></i> Spain</a>
            <a class="dropdown-item" (click)="cambiarIdioma('en')">
              <i class="flag-icon flag-icon-us"></i> USA</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><img src="./assets/images/users/no-profile-img.jpg" alt="user"
              class="profile-pic" /></a>
          <div class="dropdown-menu dropdown-menu-right animated fadeIn fast">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box">
                  <div class="u-img"><img casl src="./assets/images/users/no-profile-img.jpg" alt="user"></div>
                  <div class="u-text">
                    <h4>{{userInfo?.nombreUsuario}}</h4>
                    <p class="text-muted">varun@gmail.com</p><a href="pages-profile.html"
                      class="btn btn-rounded btn-danger btn-sm">{{'View Profile' | translate}}</a>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li><a (click)="irPerfil()"><i class="ti-user"></i> {{'My Profile' | translate}}</a></li>
              <li><a href="#"><i class="ti-wallet"></i> {{'My Balance' | translate}}</a></li>
              <li><a href="#"><i class="ti-email"></i> {{'Inbox' | translate}}</a></li>
              <li role="separator" class="divider"></li>
              <li><a routerLink="account-settings"><i class="ti-settings"></i> {{'Account Setting' | translate}}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li><a (click)="logout()"><i class="fa fa-power-off"></i> {{'Logout' | translate}}</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
