$color-primary: #99c256;
$color-bg-nav: #f7f7f7;
$color-bg: #ededed;
$color-dark: #172d44;
$color-secondary-dark: #2e3f52;

$color-background-hover: #2e3f52;
$color-text-hover: #e7e7e7;

$color-borders: #d3d3d3;
$color-text: #73879c;
$menu-text-color: #e7e7e7;
$menu-chevron-color: #c4cfda;

$color-aprobado: #99c256;
$color-pendiente:#8a6d3b;
$color-anulado: #a94442;

$header-padding: 1rem;
$header-height: 4rem;
$sidebar-width: 14.5rem;
