
.flex {
  display: flex;
  align-items: center;
  padding: 0;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 0 0 auto;
  /* padding: 1.1rem; */
  padding: 6px 12px 8px 17px;
}
.upload-btn-wrapper {
  position: relative;
  display: inline-block;
  bottom: -77px;
}

.btn {

 color: gray;
 background-color: #438eb9;
 border-radius: 8px;
 font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


#contenedor {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
  /* margin: 0px auto 0 auto; */
  overflow: hidden;
  position: relative;
}

.mini {
  /* float: left; */
      /* margin-top: 0px; */
    /* margin-left: 15px; */
    /* margin-bottom: -12px; */
    width: 100%;
}


img {
  width: 100%;
  height: auto;
}

.actionclass {
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

button{
  background-color: #67757c24;
  border: 0;
  outline: 0;
  color: #79879a;
}
.titulosTabla {
  background-color: #438eb9;
  color: cornsilk;
}

.modal-header {
  background-color: #438eb9;

}

.modal-title {
  color: aliceblue;
}

tr th {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  padding: 0;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 0 0 auto;
  /* padding: 1.1rem; */
  padding: 6px 12px 8px 17px;
}

.tag {
  display: flex !important;
  justify-content: center !important;
  padding: 5px;
  font-size: 14px;
  margin: 5px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff;

}

.ACTIVO {
  background-color: #99c256;
}

.INACTIVO {
  background-color: #a94442;
  ;
}

.PENDIENTE,
.REMISION,
.BORRADOR,
.Procesando {
  background-color: #f59c03;
}

.imagenSubida{

  width: 220px;
  height: 180px;

}

.validacion{
  color:red !important;
}


.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.btn-file>input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
  background: #eaeced;
}

.fileupload {
  margin-bottom: 9px;
  
}

.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}

.fileupload .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}

.fileupload .thumbnail>img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
}

.fileupload .btn {
  vertical-align: middle;
  background-color:#dfdfe2;
}

.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
  display: none;
}

.fileupload-inline .fileupload-controls {
  display: inline;
}

.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.thumbnail-borderless .thumbnail {
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.fileupload-new.thumbnail-borderless .thumbnail {
  border: 1px solid #ddd;
}

.control-group.warning .fileupload .uneditable-input {
  color: #a47e3c;
  border-color: #a47e3c;
}

.control-group.warning .fileupload .fileupload-preview {
  color: #a47e3c;
 
}

.btn {
  color: aliceblue;
}

#headingThree{

  background-color: #438eb9;

}

.control-group.warning .fileupload .thumbnail {
  border-color: #a47e3c;
}

.control-group.error .fileupload .uneditable-input {
  color: #b94a48;
  border-color: #b94a48;
}

.control-group.error .fileupload .fileupload-preview {
  color: #b94a48;
}

.control-group.error .fileupload .thumbnail {
  border-color: #b94a48;
}

.control-group.success .fileupload .uneditable-input {
  color: #468847;
  border-color: #468847;
}

.control-group.success .fileupload .fileupload-preview {
  color: #468847;
}

.control-group.success .fileupload .thumbnail {
  border-color: #468847;
}
.caracter{
  font-size: 13px;
  font-style: oblique;
  justify-content: left;
  color: #79879acf;
  text-align: left;
}

