<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/Kardex/" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors errorMode="Detailed"></httpErrors>

  </system.webServer>

  <system.web>
    <customErrors mode="Off" />
  </system.web>

</configuration>

